
.heder{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.store1{
	margin-top: -650px;
	color: white;
}
.hr{
	margin-top: 10px;
}

.GG{
	margin-top: 100px;
}
.Hero{
	margin-top: 20px;
}
.Download{
	color: white;
	margin-top: 80px;
}